<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>

<%= link_to @auth.info.urls.Twitter do %>
  <%= image_tag @auth.info.image %>
  <%= @auth.info.nickname %>
<% end %>

<%= @auth.credentials.token %>
<%= @auth.credentials.secret %>

